@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

.text-gradient-white {
  background: rgb(128, 128, 128);
  background: linear-gradient(
    153deg,
    rgb(83, 83, 83) 0%,
    rgb(255, 255, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-white {
  background: rgb(137, 137, 137);
  background: radial-gradient(
    circle,
    rgba(137, 137, 137, 0.8) 0%,
    rgba(168, 168, 168, 0.8) 30%,
    rgba(218, 218, 218, 0.8) 65%,
    rgba(255, 255, 255, 0.8) 100%
  );
}

.bg-gradient-purple {
  background: rgb(42, 33, 83);
  background: radial-gradient(
    circle,
    rgba(42, 33, 83, 1) 0%,
    rgba(70, 59, 122, 1) 50%,
    rgba(132, 123, 173, 1) 100%
  );
}

.bg-glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(41, 21, 57, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}
